name: Flake8

on:
  pull_request

jobs:
  flake8:
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.6']

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install flake8
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8
    - name: Run flake8
      run: |
        python -m flake8
